{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
       En esta aplicación aprendimos a crear una aplicación con el framework Django donde creamos un CRUD completo que permite operar con una base de datos, autenticar a nuestros usuarios, crear, eliminar y actualizar tareas pendientes e importantes para finalmente desplegar Django gratuitamente en un servicio llamado render.
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/" style="background-color: rgb(96, 170, 240)">
            Iniciar Sesión
        </a>
        <a class="btn btn-dark" href="/signup/" style="background-color: rgb(231, 44, 84)">
            Registrarse
        </a>
    </div>
    </section>
</main>
{% endblock %}

